### __TREC__

Removes the label-fine column in the TREC train data set as it is not needed in the project.  
Splits the data into train and test sets and exports them

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
import random

In [3]:
TREC_dir = '../Datasets/TREC_dataset/'
train = f'{TREC_dir}/train.csv'

In [4]:
df = pd.read_csv(train)
df

,label-coarse,label-fine,text
0,0,0,How did serfdom develop in and then leave Russ...
1,1,1,What films featured the character Popeye Doyle ?
2,0,0,How can I find a list of celebrities ' real na...
3,1,2,What fowl grabs the spotlight after the Chines...
4,2,3,What is the full form of .com ?
...,...,...,...
5447,1,14,What 's the shape of a camel 's spine ?
5448,1,46,What type of currency is used in China ?
5449,4,41,What is the temperature today ?
5450,4,41,What is the temperature for cooking ?
5451,1,46,What currency is used in Australia ?

In [5]:
df = df.drop(columns=['label-fine'])
df

      label-coarse                                               text
0                0  How did serfdom develop in and then leave Russ...
1                1   What films featured the character Popeye Doyle ?
2                0  How can I find a list of celebrities ' real na...
3                1  What fowl grabs the spotlight after the Chines...
4                2                    What is the full form of .com ?
...            ...                                                ...
5447             1            What 's the shape of a camel 's spine ?
5448             1           What type of currency is used in China ?
5449             4                    What is the temperature today ?
5450             4              What is the temperature for cooking ?
5451             1               What currency is used in Australia ?

[5452 rows x 2 columns]

In [11]:
# Get list of unique label-coarse
labels = df['label-coarse'].unique() # returns an array([])
labels = list(labels) 
labels

[0, 1, 2, 3, 4, 5]

In [12]:
# select 2 random choices
choices = random.sample(labels, 2)
choices

[5, 4]

In [15]:
new_df = df.copy()
new_df

for index, row in new_df.iterrows():
    label_coarse = new_df.loc[index, 'label-coarse']
    if label_coarse in choices:
        new_df.loc[index, 'label-coarse'] = 'OTHERS'

new_df

/var/folders/rx/wfyd9y5d01d20m89j0xj55l00000gn/T/ipykernel_2812/3129126962.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'OTHERS' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  new_df.loc[index, 'label-coarse'] = 'OTHERS'

     label-coarse                                               text
0               0  How did serfdom develop in and then leave Russ...
1               1   What films featured the character Popeye Doyle ?
2               0  How can I find a list of celebrities ' real na...
3               1  What fowl grabs the spotlight after the Chines...
4               2                    What is the full form of .com ?
...           ...                                                ...
5447            1            What 's the shape of a camel 's spine ?
5448            1           What type of currency is used in China ?
5449       OTHERS                    What is the temperature today ?
5450       OTHERS              What is the temperature for cooking ?
5451            1               What currency is used in Australia ?

[5452 rows x 2 columns]

In [16]:
# Split the DataFrame into training and test sets
train_df, test_df = train_test_split(new_df, test_size=0.2, shuffle=True)

print("Training set:")
print(train_df)

print("\nTest set:")
print(test_df)

Training set:
     label-coarse                                               text
1836       OTHERS  What constellation contains the twins Castor a...
4453            3                   What company produces Spumante ?
1337       OTHERS                               Where is Ocho Rios ?
3637            0          How can I give myself a French manicure ?
3707       OTHERS  How many tenths of the Earth 's surface lie un...
...           ...                                                ...
3072       OTHERS           Where can I find an Ask An Expert site ?
1357       OTHERS  Of children between the ages of two and eleven...
609             3  What was the name of the 187s Irish terrorist ...
1051            1                 What is California 's state bird ?
2088            0           How do you measure the heat of the sun ?

[4361 rows x 2 columns]

Test set:
     label-coarse                                               text
1483       OTHERS         How much pizza do Americans eat in a day ?
575             3  Who was the star of the 1965 Broadway hit Gold...
25              1    What 's the second-most-used vowel in English ?
3630       OTHERS  Independent silversmith 's account for what pe...
5283       OTHERS  What is the most important nation in the world...
...           ...                                                ...
2662       OTHERS         How many frames does a disk camera shoot ?
1190       OTHERS  What country was A Terrible Beauty to Leon Uris ?
4325            0               What is the `` fourth dimension '' ?
240             1  What disease is transmitted by the Anopheles m...
3106            0                      What is false consciousness ?

[1091 rows x 2 columns]

In [17]:
path = '../Datasets/Processed/TREC/'

# Export DataFrame to a CSV file
train_df.to_csv(f'{path}train.csv', index=False)
test_df.to_csv(f'{path}test.csv', index=False)