### __TREC__

Removes the label-fine column in the TREC train data set as it is not needed in the project

In [1]:
import pandas as pd

In [2]:
TREC_dir = '../Datasets/TREC_dataset/'
train = f'{TREC_dir}/train.csv'

In [3]:
df = pd.read_csv(train)
df

,label-coarse,label-fine,text
0,0,0,How did serfdom develop in and then leave Russ...
1,1,1,What films featured the character Popeye Doyle ?
2,0,0,How can I find a list of celebrities ' real na...
3,1,2,What fowl grabs the spotlight after the Chines...
4,2,3,What is the full form of .com ?
...,...,...,...
5447,1,14,What 's the shape of a camel 's spine ?
5448,1,46,What type of currency is used in China ?
5449,4,41,What is the temperature today ?
5450,4,41,What is the temperature for cooking ?
5451,1,46,What currency is used in Australia ?

In [5]:
df = df.drop(columns=['label-fine'])
df

      label-coarse                                               text
0                0  How did serfdom develop in and then leave Russ...
1                1   What films featured the character Popeye Doyle ?
2                0  How can I find a list of celebrities ' real na...
3                1  What fowl grabs the spotlight after the Chines...
4                2                    What is the full form of .com ?
...            ...                                                ...
5447             1            What 's the shape of a camel 's spine ?
5448             1           What type of currency is used in China ?
5449             4                    What is the temperature today ?
5450             4              What is the temperature for cooking ?
5451             1               What currency is used in Australia ?

[5452 rows x 2 columns]

In [6]:
path = '../Datasets/Processed/'
file_name = 'TREC_no_label_coarse'
# Export DataFrame to a CSV file
df.to_csv(f'{path}{file_name}.csv', index=False)