### __TREC__

Removes the label-fine column in the TREC train data set as it is not needed in the project.  
Splits the data into train and test sets and exports them

In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
TREC_dir = '../Datasets/TREC_dataset/'
train = f'{TREC_dir}/train.csv'

In [3]:
df = pd.read_csv(train)
df

,label-coarse,label-fine,text
0,0,0,How did serfdom develop in and then leave Russ...
1,1,1,What films featured the character Popeye Doyle ?
2,0,0,How can I find a list of celebrities ' real na...
3,1,2,What fowl grabs the spotlight after the Chines...
4,2,3,What is the full form of .com ?
...,...,...,...
5447,1,14,What 's the shape of a camel 's spine ?
5448,1,46,What type of currency is used in China ?
5449,4,41,What is the temperature today ?
5450,4,41,What is the temperature for cooking ?
5451,1,46,What currency is used in Australia ?

In [5]:
df = df.drop(columns=['label-fine'])
df

      label-coarse                                               text
0                0  How did serfdom develop in and then leave Russ...
1                1   What films featured the character Popeye Doyle ?
2                0  How can I find a list of celebrities ' real na...
3                1  What fowl grabs the spotlight after the Chines...
4                2                    What is the full form of .com ?
...            ...                                                ...
5447             1            What 's the shape of a camel 's spine ?
5448             1           What type of currency is used in China ?
5449             4                    What is the temperature today ?
5450             4              What is the temperature for cooking ?
5451             1               What currency is used in Australia ?

[5452 rows x 2 columns]

In [10]:
# Split the DataFrame into training and test sets
train_df, test_df = train_test_split(df, test_size=0.2, shuffle=True)

print("Training set:")
print(train_df)

print("\nTest set:")
print(test_df)

Training set:
      label-coarse                                               text
5123             1  Which medium is Hamblen the first singing cowb...
3056             3   What company makes impulse hardening equipment ?
3370             1  Name the product that is `` at your grocer 's ...
3395             5                  What river is Windsor Castle on ?
3316             3                                 Who was Damocles ?
...            ...                                                ...
5451             1               What currency is used in Australia ?
4209             1      What English word contains the most letters ?
5345             5  What continent 's second-highest peak is Mont ...
5266             3           Who is the richest person in the world ?
2853             3  Who sent the brief message `` I came , I saw ,...

[4361 rows x 2 columns]

Test set:
      label-coarse                                               text
3405             3  What was the man 's name who was killed in a d...
2783             3  What group asked the musical question Do You B...
5321             4                 When was the Berlin Wall erected ?
4687             0                               How do I love thee ?
434              3          Who is the fastest swimmer in the world ?
...            ...                                                ...
3848             1  What drink contains as many types of rum as po...
748              4       How many pairs of legs does a lobster have ?
3773             3                    Name the tree growing company .
530              4                       When did CNN go on the air ?
421              5  Where must a soccer goalie stand to be permitt...

[1091 rows x 2 columns]

In [11]:
path = '../Datasets/Processed/TREC/'

# Export DataFrame to a CSV file
train_df.to_csv(f'{path}train.csv', index=False)
test_df.to_csv(f'{path}test.csv', index=False)